{% extends "base.html" %}

<body>
    {% block content %}
        <div class="card mx-auto bg-light" style="height: 50%;">
            <h1 class="card-header text-center" style="margin: 30px; padding: 30px;">URL Shortener API - Endpoints</h1>

            <div class="card mx-auto border-info" style="margin: 20px; padding: 20px;">
                <h2 class="card-header border-info" style="padding: 20px;">/v1/url-management/shorten</h2>

            <div>
                <h3 style="padding: 20px;">Input example</h3>
            </div>

            <pre style="padding: 20px;"><code>
            {
                "payload": "https://github.com/topics/amiga"
            }
            </code></pre>

            <div>
                <h3 style="padding: 20px;">Output example</h3>
            </div>

            <pre style="padding: 20px;"><code>
            {
              "is_url": true,
              "original": "https://github.com/topics/amiga",
              "shortened": "tier.app/94c4f2a08f4b371d"
            }
            </code></pre>
            </div>

            <div class="card mx-auto border-info" style="margin: 20px; padding: 20px;">
                <h2 class="card-header border-info" style="padding: 20px;">/v1/url-management/route/&ltSHORTENED&gt</h2>

            <div>
                <h3 style="padding: 20px;">Input example</h3>
            </div>

            <pre style="padding: 20px;"><code>
            /v1/url-management/route/94c4f2a08f4b371d
            </code></pre>

            <div>
                <h3 style="padding: 20px;">Output example</h3>
            </div>
            
            <pre style="padding: 20px;"><code>
            Redirect to: "https://github.com/topics/amiga"
            </code></pre>
            </div>
        </div>
    {% endblock %}
</body>